<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreateCall</title>
  <script src="https://healthit.in.ua/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  
</head>
<body>
  <div class="container">
  <div style="margin-top: 100px;" class="col-md-12 col-lg-12 mt-1">
    <div class="form-horizontal" id="connection-form">
        <fieldset>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">ID Комнаты</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="room" name="room"  placeholder="Введите любое слово или цифру">
                </div>
            </div>
            <div class="form-group">
                <label for="videoSource" class="col-lg-2 control-label">Видео</label>
                <div class="col-lg-10">
                    <select type="text" class="form-control" id="videoSource"></select>     
                </div>
            </div>
            <div class="form-group">
              <label for="audioSource" class="col-lg-2 control-label">Аудио</label>
              <div class="col-lg-10">
                  <select type="text" class="form-control" id="audioSource"></select>     
              </div>
          </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button id="connect-to-peer-btn" class="btn btn-primary">Создать комнату</button>
                </div>
            </div>
        </fieldset>
  
      <div style="display: none;" class="select">
          <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
      </div>
  
      
  
      <video id="video" height="300px" playsinline autoplay></video>
    </div>
</div>
</div>
<script src="/createRoom.js" async></script>
</body>
</html>